.popup-input__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;
  position: relative; 
}

.popup-input__label {
  color: #2F71E5;
  font-family: 'Inter';
  font-size: 12px;
  line-height: 1.21;
}

.popup-input {
  font-family: 'Inter';
  font-size: 14px;
  line-height: 1.21;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 10px 0;
}

.popup-input__error {
  position: absolute;
  font-family: 'Inter';
  font-size: 12px;
  line-height: 1.21;
  color: #FF0000;
  bottom: -17px;
}

.popup-input__email-error {
  display: none;
}

.popup-input__password-error {
  display: none;
}

.popup-input__email-notavail {
  position: static;
}

.popup-input__email-notavail-container {
  margin-top: -20px;
  margin-bottom: 4px;
  text-align: center;
  display: none;
}
